<h1>Edit a Track</h1>

<form action="<%= track_url(@track) %>" method="POST">
	<input type="hidden" name="_method" value="PATCH">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

	<label>Track Name: 
		<input type="text" name="track[name]" value="<%= @track.name %>"></label><br>

	<label>Album Name: 
		<select name="track[album_id]" value="<%= @track.album_id %>">
			<%= Album.all.each do |album| %>
				<option <%= @track.album_id == album.id ? 'selected' : '' %> value="<%= album.id%>">
					<%= album.name %>
				</option>
			<% end %>
		</select>
	</label><br>

	<label>Lyrics
		<input type="textarea" name="track[lyrics]" value="<%= @track.lyrics %>"></label><br>

	<label>Track Order
		<input type="text" name="track[ord]" value="<%= @track.ord %>"></label><br>

	<label>Bonus Track?
		<select name="track[bonus]" value="<%= @track.bonus %>">
			<option value="true">Bonus</option>
			<option value="false">Regular</option>
		</select>
	<label><br>

	<input type="submit" value="Create a Track">
</form>